@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<script src="https://unpkg.com/vue@next"></script>

<h2>title</h2>

<header>
    <h1>Todo List</h1>
</header>
<section id="todo-list">
    <h2>Item</h2>
    <p>{{ goal }}</p>
</section>

<script>
    const todoApp = Vue.createApp({
        data() {
          return {
              goal: 'my goal'
          };
        }
    });
    todoApp.mount('#todo-list');
</script>